* {
	box-sizing: border-box;
	margin: 1px;
	background-color: whitesmoke;
}


body {
	background-color: ;
}

#bus {
	width: 200px;
	height: 100px;
	text-align: center;
}
header{
	font-size: 400%;
	background-color: blanchedalmond;
	text-align: center;
}

#picture1 {
	position: relative;
	height: 300px;
	width: 266px;
	/* margin-left: auto;
	margin-right: auto; */
	float: center;
	

}

#picture2 {
	position: relative;
	height: 300px;
	width: 266px;
	/* margin-left: auto;
	margin-right: auto; */
	float: center;

}
#picture3 {
	position: relative;
	height: 300px;
	width: 266px;
	/* margin-left: auto;
	margin-right: auto; */
	float: center;

}

#text {
	box-sizing: border-box;
	font-size: larger;
	text-align: center;
}

canvas {
	border:navy;
	height: 200px;
	width: 100px;

}
