* {
	box-sizing: border-box;
	margin: 1px;
	background-color: whitesmoke;
}

#list-container {
    padding: 20px;
    text-align: center;
    color: darkblue;
    overflow: visible;
}

body {
	background-color: wheat;
}

#bus {
	width: 200px;
	height: 100px;
	text-align: center;
}
header{
	font-size: 400%;
	background-color: blanchedalmond;
	text-align: center;
}

#picture1 {
	position: relative;
	height: 300px;
	width: 266px;
	float: center;
	

}

#picture2 {
	position: relative;
	height: 300px;
	width: 266px;
	float: center;

}
#picture3 {
	position: relative;
	height: 300px;
	width: 266px;
	float: center;

}

h1 {
	color: darkblue;
}
#text {
	width: 70%;
	text-align: left;
	margin: 5px auto;
	color: darkblue;
	
}

canvas {
	border:navy;
	height: 200px;
	width: 100px;

}
